.detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  div {
    grid-column: 2/3;
  }
  ul {
    grid-column: 3/4;
    display: grid;
    grid-template-rows: repeat(6, auto);
    li {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      list-style-type: none;
      .key {
        grid-column: 1/2;
      }
      .value {
        grid-column: 2/3;
      }
    }
  }
}
